html {
  background-color: white;
  color: black;
  font-family: 'Roboto';
  background-image: url("./data/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

header, body {
  margin: 5%;
}

.section {
  background-color:transparent;
  margin: 10%;
  height: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Left {
  display: block;
  margin-left: left;
}

th {
  text-align: left;
  margin-left: left;
}
h1, h2 {
  text-align: center;
}


